.sortable {
    cursor: pointer;
    color: #dd5;
}

.shouldShowWarning{
    background-color:#da8a8a;
}

table {
  color: #111;
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #00c0bd;
}

.header-row {
    background: #006e6d;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}